spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
  datasource:
    url: ${DB_ENDPOINT}
    username: admin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  properties:
    hibernate:
      show_sql: true
      format_sql: true
      dialect: org.hibernate.dialect.MySQL8Dialect
      ddl-auto: create

    logging:
      level:
        org:
          hibernate:
            SQL: DEBUG
            type:
              descriptor:
                sql:
                  BasicBinder: TRACE