spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: ${DB_ENDPOINT}
    username: admin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  properties:
    hibernate:
      show_sql: true
      format_sql: true

    logging:
      level:
        org.hibernate: DEBUG

  data:
    schema: classpath:schema.sql

config:
  domain: http://prepro.s3-website.ap-northeast-2.amazonaws.com
