.askform_container div{
  margin: 0 auto;
}

.askform_container .askform_title{
  padding: 40px 0;
}


.askform_body_container{
  display: flex;
  flex-wrap: wrap;
}

.header_card_container p{
  font-size: small;
}

.askform_body {
  margin :0
}