.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%; /* 원하는 너비로 조절 */
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.user-profile {
  text-decoration: none;
  color: #007bff;
}

.question-title {
  text-decoration: none;
  color: #212529;
  font-weight: bold;
  cursor: pointer;
}

.card-text {
  margin-top: 0.5rem;
  color: #6c757d;
}

.text-muted {
  color: #6c757d;
  font-size: 0.8rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}