.footer {
    padding: 30px 0;
    width: 100%;
    background-color: #232629;
    font-size: 11px;
    /* position: absolute;
    bottom: 0; */
  }

  .img{
    padding-right: 0;
  }

  .footer_title {
    font-weight: bold;
    font-size: 12px;
    color: #BABFC4;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .footer_subtitle{
    font-size: 13px;
    margin-right: 10px;
    color: #989da1;
    text-decoration: none;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .social_links a {
    font-size: 8px;
    margin-right: 10px;
    color: #989da1;
    text-decoration: none;
  }

  .footer_bottom {
    margin-top: 160px;
    margin-bottom: 45px;
    margin-right: 10px;
    text-align: left;
    font-size: 11px;
    color: #989da1;
  }
  
  .footer_bottom a {
    color: #989da1;
    text-decoration: underline;
  }