.form-label{
  font-size: 20px;
  color:black;
  font-weight: bold;
}

.form-control{
  width: 100%;
  height: 45px;
  border: 2px solid green;
}

.forgot_password{
  font-size:15px;
  color: #3d8bd5;
  font-weight: normal;
}

.loginbox{
  box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05),
  0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
  border-radius: 20px;
}

.sign_up_text{
  color:#3d8bd5;
  list-style: none;
  text-decoration: none;
}

.login_header{
  height: 50px;
  background-color: black;
}



.login_btn{
  background-color: hsl(205, 46%, 92%);
}

.header_link{
  color: black;
  text-decoration: none;
}

