name: Java CI with Gradle

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Set up Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: /server

      - name: Build with Gradle
        run: ./gradlew build
        working-directory: /server

      - name: Docker build
        run: |
          docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
          docker build -t pre-pro . 
          docker tag pre-pro newbee9507/pre-pro:${GITHUB_SHA::7}
          docker push newbee9507/pre-pro:${GITHUB_SHA::7}